    {% extends 'templates/layoutpage.twig' %}
{% block page_title %}Ateliers pratiques | SOSECAR{% endblock %}
{% block main_page_title %}Ateliers pratiques{% endblock %}

{% block page_content %}


    <div class="events-details-area pre-congres pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <span class="top-title">SPONSORISÉ PAR GENERAL ELECTRIC / TECHNOLOGIES SERVICES</span>
                <h2>Ateliers pratiques</h2>
            </div>
            <div class="row row-pre-congres-one">
                <div class="col-lg-8">
                    <div class="single-event-details-content">
                        <div class="event-details-img">
                            <img src="{{domain_url}}/assets/img/006.jpg" alt="images">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="event-details-right-content">
                        <div class="event-information-card">
                            <h2 class="text-left">Ateliers pratiques</h2>
                            <ul>
                                <li>
                                    Formations théoriques
                                </li>
                                <li>
                                    Ateliers pratiques
                                </li>
                                <li>
                                    Date :<span>16 au 17 Décembre 2024</span>
                                </li>
                                {#
                                <li>
                                    Lieu :<span>Hôpital Fann | Hôpital Dalal Jamm</span> 
                                </li>
                                #}
                                <li>
                                    Inscription :<span>Gratuite</span> 
                                </li>
                            </ul>
                            {% if data.status %}
                            <a href="#sos-atelier-pratique" class="default-btn">Je m'inscris <i class="bx bx-plus"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


     <!-- Start Events Pages Area -->
        <div class="events-area pre-event-congres pt-50 pb-30">
            <div class="container">
                <div class="section-title">
                    <span class="top-title">Au programme</span>
                    {#
                    <h2>We Organize Annual Events And Programs</h2>
                    #}
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xl-12" data-cues="fadeIn" data-group="images" data-duration="1000">
                        <div class="single-events-item">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-md-12">
                                    <div class="events-image">
                                        <a href="#" target="_blank">
                                            <img src="{{domain_url}}/src/img/ateliers/4.jpg" alt="ateliers">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-12">
                                    <div class="events-content">
                                        <a href="#" target="_blank">
                                            <h3>ECHOCARDIOGRAPHE</h3>
                                        </a>
                                        <p>Modérateur : Dr Abdellah DAIB</p>
                                        <p>
                                            Déformations myocardiques : 
                                            <br>- Strain Ventricule Gauche
                                            <br>- Strain Oreillette Gauche
                                        </p>
                                        <p class="pre-location">
                                            <img src="{{domain_url}}/src/v4/images/conference-schedules/schedules-style-two-icon-4.svg" alt="images">Salle annexe / Radison Blu Hôtel
                                        </p>
                                        <ul>
                                            <li class="events-list-cart"><img src="{{domain_url}}/src/v4/images/blog/blog-icon-1.svg" alt="images">16 Déc 2024 | 15H - 16H40</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xl-12" data-cues="fadeIn" data-group="images" data-duration="1500">
                        <div class="single-events-item">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-md-12">
                                    <div class="events-image">
                                        <a href="#" target="_blank">
                                            <img src="{{domain_url}}/src/img/ateliers/1.jpg" alt="ateliers">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-12">
                                    <div class="events-content">
                                        <a href="#" target="_blank">
                                            <h3>ATELIER SYNDROME D’APNÉE OBSTRUCTIVE DU SOMMEIL </h3>
                                        </a>
                                        <p>
                                        Modérateurs : Pr Fatoumata Ba, Pr Fatou Binetou Rassoul Mbaye, Dr Ousmane Dieye <br>
                                        Orateurs : Dr Ousmane Racine Thiam, Dr Ndeye Faye Sadji, Dr Issa Dior Seck
                                        </p>
                                        <p class="pre-location">
                                            <img src="{{domain_url}}/src/v4/images/conference-schedules/schedules-style-two-icon-4.svg" alt="images">Salle annexe / Radison Blu Hôtel
                                        </p>
                                        <ul>
                                            <li class="events-list-cart"><img src="{{domain_url}}/src/v4/images/blog/blog-icon-1.svg" alt="images">17 Déc 2024 | 09H - 10H45</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-xl-12" data-cues="fadeIn" data-group="images" data-duration="1500">
                        <div class="single-events-item">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-md-12">
                                    <div class="events-image">
                                        <a href="#" target="_blank">
                                            <img src="{{domain_url}}/src/img/ateliers/2.png" alt="ateliers">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-12">
                                    <div class="events-content">
                                        <a href="#" target="_blank">
                                            <h3>ECHOCARDIOGRAPHIQUE </h3>
                                        </a>
                                        <p>Modérateur : Dr Abdellah DAIB</p>
                                        <p>
                                        Echo 3D Transthoracique et Transoesophagienne <br>
                                        Sponsorisé par General Electric / Technologies Services
                                        </p>
                                        <p class="pre-location">
                                            <img src="{{domain_url}}/src/v4/images/conference-schedules/schedules-style-two-icon-4.svg" alt="images">Salle annexe / Radison Blu Hôtel
                                        </p>
                                        <ul>
                                            <li class="events-list-cart"><img src="{{domain_url}}/src/v4/images/blog/blog-icon-1.svg" alt="images">17 Déc 2024 | 14H30 - 16H00</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-xl-12" data-cues="fadeIn" data-group="images" data-duration="1500">
                        <div class="single-events-item">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-md-12">
                                    <div class="events-image">
                                        <a href="#" target="_blank">
                                            <img src="{{domain_url}}/src/img/ateliers/3.jpeg" alt="ateliers">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-12">
                                    <div class="events-content">
                                        <a href="#" target="_blank">
                                            <h3>ECHOCARDIOGRAPHIQUE</h3>
                                        </a>
                                        <p>Modérateur : Dr Abdellah DAIB</p>
                                        <p>
                                        Asynchronisme Cardiaque<br>
                                        Sponsorisé par General Electric / Technologies Services
                                        </p>
                                        <p class="pre-location">
                                            <img src="{{domain_url}}/src/v4/images/conference-schedules/schedules-style-two-icon-4.svg" alt="images">Salle annexe / Radison Blu Hôtel
                                        </p>
                                        <ul>
                                            <li class="events-list-cart"><img src="{{domain_url}}/src/v4/images/blog/blog-icon-1.svg" alt="images">17 Déc 2024 | 17H30-19H00</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#
                        <div class="col-lg-12 col-md-12 col-xl-12" data-cues="fadeIn" data-group="images" data-duration="1500">
                            <div class="single-events-item">
                                <div class="row align-items-center">
                                    <div class="col-lg-2 col-md-12">
                                        <div class="events-image">
                                            <a href="#" target="_blank">
                                                <img src="{{domain_url}}/assets/img/banner/007.png" alt="ateliers">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-12">
                                        <div class="events-content">
                                            <a href="#" target="_blank">
                                                <h3>ECHOCARDIOGRAPHIQUE (DR DAEB) </h3>
                                            </a>
                                            <p>
                                            Deformations Myocardiques : Strain Ventricule Gauche, Strain Oreillette Gauche<br>
                                            Sponsorisé par General Electric / Technologies Services
                                            </p>
                                            <p class="pre-location">
                                            </p>
                                            <ul>
                                                <li class="events-list-cart"><img src="{{domain_url}}/src/v4/images/blog/blog-icon-1.svg" alt="images">18 Déc 2024 | 09H - 10H30</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    #}
                    
                </div>
            </div>
        </div>
        <!-- End Events Pages Area -->


{#

 <!-- Start Event Photo Area -->
        <div class="event-photo-area pt-100 pb-100">
            <div class="container">
                <div class="section-title">
                    <span class="top-title">Médiathèque</span>
                    <h2>Les ateliers du précongrès en images</h2>
                </div>
                <div class="event-photo-slider owl-carousel owl-theme">
                    <div class="event-photo-img">
                        <img src="/uploads/images/precongres/1.jpeg" alt="images">
                        <div class="gallery-icon">
                            <a data-fancybox="gallery" href="/uploads/images/precongres/1.jpeg">
                                <i class='bx bxs-plus-circle'></i>
                            </a>
                        </div>
                    </div>
                    <div class="event-photo-img">
                        <img src="/uploads/images/precongres/2.jpeg" alt="images">
                        <div class="gallery-icon">
                            <a data-fancybox="gallery" href="/uploads/images/precongres/2.jpeg">
                                <i class='bx bxs-plus-circle'></i>
                            </a>
                        </div>
                    </div>
                    <div class="event-photo-img">
                        <img src="/uploads/images/precongres/3.jpeg" alt="images">
                        <div class="gallery-icon">
                            <a data-fancybox="gallery" href="/uploads/images/precongres/3.jpeg">
                                <i class='bx bxs-plus-circle'></i>
                            </a>
                        </div>
                    </div>
                    <div class="event-photo-img">
                        <img src="/uploads/images/precongres/4.jpeg" alt="images">
                        <div class="gallery-icon">
                            <a data-fancybox="gallery" href="/uploads/images/precongres/4.jpeg">
                                <i class='bx bxs-plus-circle'></i>
                            </a>
                        </div>
                    </div>
                    <div class="event-photo-img">
                        <img src="/uploads/images/precongres/5.jpeg" alt="images">
                        <div class="gallery-icon">
                            <a data-fancybox="gallery" href="/uploads/images/precongres/5.jpeg">
                                <i class='bx bxs-plus-circle'></i>
                            </a>
                        </div>
                    </div>
                    <div class="event-photo-img">
                        <img src="/uploads/images/precongres/6.jpeg" alt="images">
                        <div class="gallery-icon">
                            <a data-fancybox="gallery" href="/uploads/images/precongres/6.jpeg">
                                <i class='bx bxs-plus-circle'></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Event Photo Area -->
#}

{#

    <!-- Start Why Join Conference Area -->
        <div class="join-conference-area pb-100 pt-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="join-conference-image">
                            <img src="{{domain_url}}/assets/img/at1.jpg" width="395" alt="sosecar" data-cue="slideInLeft" data-duration="1500">
                            <div class="join-conference-image-two" data-cue="slideInUp" data-duration="1500">
                                <img src="{{domain_url}}/assets/img/006.jpg" width="375" alt="sosecar">
                            </div>
                            <div class="conference-experience" data-cue="slideInDown" data-duration="1500">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" data-cue="slideInRight" data-duration="1500">
                        <div class="join-conference-content">
                            <div class="section-title left-title">
                                <span class="top-title">Pré-congrès</span>
                                <h2 class="mini-title uppercase">Ateliers d'échographie vasculaire</h2>
                                <span class="some-title"><strong>Objectif</strong></span>
                                <p>Renforcer les compétences des médecins dans l'évaluation diagnostique et thérapeutique.</p>
                            </div>
                            <div class="join-conference-card">
                                <div class="join-sponsor-icon">
                                    <i class='bx bxs-calendar' ></i>
                                </div>
                                <h3>07 au 09 Déc 2023</h3>
                            </div>
                            <div class="join-conference-card">
                                <div class="join-sponsor-icon">
                                    <i class='bx bx-book-content' ></i>
                                </div>
                                <h3>Ateliers pratiques</h3>
                                <p> SAMU (Hôpital fann) / Salle Angiologie cardiologie (Hôpital Fann)</p>
                            </div>
                            <div class="join-conference-card">
                                <div class="join-sponsor-icon">
                                    <i class='bx bx-credit-card' ></i>
                                </div>
                                <h3>Inscription : 150 000 FCFA</h3>
                            </div>

                            
                            <div class="join-conference-item">
                                <span class="some-title"><strong>Pour qui ?</strong></span> 
                                <p>Cardiologues | Radiologues | Chirurgiens vasculaires | Réanimateurs | Urgentistes | Internes et DES | Néphrologues | Cancérologues</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Why Join Conference Area -->


           <!-- Start Events Pages Area -->
        <div class="events-area pre-event pt-100 pb-70 pre-at">
            <div class="container">
                <div class="section-title">
                    <span class="top-title">Le programme</span>
                    <h2>ATELIERS DE FORMATION</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-xl-4" data-cues="fadeIn" data-group="images" data-duration="1000">
                        <div class="single-events-item">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-lg-12 col-md-12">
                                    <div class="events-content">
                                        <a href="event-details.html">
                                            <h3>Atelier 1</h3>
                                        </a>
                                        <p>Echodoppler à la recherche d'une thrombose veineuse des membres</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xl-4" data-cues="fadeIn" data-group="images" data-duration="1500">
                        <div class="single-events-item">
                            <div class="row align-items-center">
                                <div class="col-lg-12 col-md-12">
                                    <div class="events-content">
                                        <a href="event-details.html">
                                            <h3>Atelier 2</h3>
                                        </a>
                                        <p>Echodoppler à la recherche d'une AOMI et et mesure de l'Index de Pression Systolique (IPS)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xl-4" data-cues="fadeIn" data-group="images" data-duration="2000">
                        <div class="single-events-item">
                            <div class="row align-items-center">
                                <div class="col-lg-12 col-md-12">
                                    <div class="events-content">
                                        <a href="event-details.html">
                                            <h3>Atelier 3</h3>
                                        </a>
                                        <p>Echodoppler des artères à destinée encéphalique</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-xl-4" data-cues="fadeIn" data-group="images" data-duration="1000">
                        <div class="single-events-item">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-lg-12 col-md-12">
                                    <div class="events-content">
                                        <a href="event-details.html">
                                            <h3>Atelier 4</h3>
                                        </a>
                                        <p>Echodoppler des artères des d'une insuffisance veineuse membres supérieurs</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xl-4" data-cues="fadeIn" data-group="images" data-duration="1500">
                        <div class="single-events-item">
                            <div class="row align-items-center">
                                <div class="col-lg-12 col-md-12">
                                    <div class="events-content">
                                        <a href="event-details.html">
                                            <h3>Atelier 5</h3>
                                        </a>
                                        <p>Echodoppler de l'aorte thoracique, abdominale et de ses branches principales</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xl-4" data-cues="fadeIn" data-group="images" data-duration="2000">
                        <div class="single-events-item">
                            <div class="row align-items-center">
                                <div class="col-lg-12 col-md-12">
                                    <div class="events-content">
                                        <a href="event-details.html">
                                            <h3>Atelier 6</h3>
                                        </a>
                                        <p>Echodoppler transcrânien</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    <div class="col-lg-4 col-md-4 col-xl-4" data-cues="fadeIn" data-group="images" data-duration="1000">
                        <div class="single-events-item">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-lg-12 col-md-12">
                                    <div class="events-content">
                                        <a href="event-details.html">
                                            <h3>Atelier 7</h3>
                                        </a>
                                        <p>Exploration d'une insuffisance veineuse</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xl-4" data-cues="fadeIn" data-group="images" data-duration="1500">
                        <div class="single-events-item">
                            <div class="row align-items-center">
                                <div class="col-lg-12 col-md-12">
                                    <div class="events-content">
                                        <a href="event-details.html">
                                            <h3>Atelier 8</h3>
                                        </a>
                                        <p>Bilan lésionnel d'une AOMI</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xl-4" data-cues="fadeIn" data-group="images" data-duration="2000">
                        <div class="single-events-item">
                            <div class="row align-items-center">
                                <div class="col-lg-12 col-md-12">
                                    <div class="events-content">
                                        <a href="event-details.html">
                                            <h3>Atelier 9</h3>
                                        </a>
                                        <p>Quantification d'une sténose de carotide en échodoppler et recherche d'un vol vertébro-subclavier</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-xl-4" data-cues="fadeIn" data-group="images" data-duration="1000">
                        <div class="single-events-item">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-lg-12 col-md-12">
                                    <div class="events-content">
                                        <a href="event-details.html">
                                            <h3>Atelier 10</h3>
                                        </a>
                                        <p>Evaluation d'une stenose des artères rénales et viscérales (artères coeliaque, mésentériques supérieure et inférieure)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xl-4" data-cues="fadeIn" data-group="images" data-duration="1500">
                        <div class="single-events-item">
                            <div class="row align-items-center">
                                <div class="col-lg-12 col-md-12">
                                    <div class="events-content">
                                        <a href="event-details.html">
                                            <h3>Atelier 11</h3>
                                        </a>
                                        <p>Doppler transcrânien chez le drépanocytaire/recherche de FOP</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xl-4" data-cues="fadeIn" data-group="images" data-duration="2000">
                        <div class="single-events-item">
                            <div class="row align-items-center">
                                <div class="col-lg-12 col-md-12">
                                    <div class="events-content">
                                        <a href="event-details.html">
                                            <h3>Atelier 12</h3>
                                        </a>
                                        <p>Cartographie avant traitement</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-xl-4" data-cues="fadeIn" data-group="images" data-duration="1000">
                        <div class="single-events-item">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-lg-12 col-md-12">
                                    <div class="events-content">
                                        <a href="event-details.html">
                                            <h3>Atelier 13</h3>
                                        </a>
                                        <p>Bilan avant/après revascularisation artérielle des membres inférieurs</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xl-4" data-cues="fadeIn" data-group="images" data-duration="1500">
                        <div class="single-events-item">
                            <div class="row align-items-center">
                                <div class="col-lg-12 col-md-12">
                                    <div class="events-content">
                                        <a href="event-details.html">
                                            <h3>Atelier 14</h3>
                                        </a>
                                        <p>Bilan avant réalisation d'une fistule art artério-veineuse</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xl-4" data-cues="fadeIn" data-group="images" data-duration="2000">
                        <div class="single-events-item">
                            <div class="row align-items-center">
                                <div class="col-lg-12 col-md-12">
                                    <div class="events-content">
                                        <a href="event-details.html">
                                            <h3>Atelier 15</h3>
                                        </a>
                                        <p>Suivi d'une fistule artério-veineuse</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-xl-4" data-cues="fadeIn" data-group="images" data-duration="1000">
                        <div class="single-events-item">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-lg-12 col-md-12">
                                    <div class="events-content">
                                        <a href="event-details.html">
                                            <h3>Atelier 16</h3>
                                        </a>
                                        <p>Ponctions échoguidées</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xl-4" data-cues="fadeIn" data-group="images" data-duration="1500">
                        <div class="single-events-item">
                            <div class="row align-items-center">
                                <div class="col-lg-12 col-md-12">
                                    <div class="events-content">
                                        <a href="event-details.html">
                                            <h3>Atelier 17</h3>
                                        </a>
                                        <p>Lymphoedème</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xl-4" data-cues="fadeIn" data-group="images" data-duration="2000">
                        <div class="single-events-item">
                            <div class="row align-items-center">
                                <div class="col-lg-12 col-md-12">
                                    <div class="events-content">
                                        <a href="event-details.html">
                                            <h3>Atelier 18</h3>
                                        </a>
                                        <p>Traitement de l'insuffisance veineuse par procédures thermiques</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
        <!-- End Events Pages Area -->
#}

 <!-- Start Login Area -->
        {% if data.status %}
        <div class="my-account-area pt-100 pb-100">
            <div class="container">
                <form class="my-account-content register-form" action="#" id="sos-atelier-pratique" name="sos-atelier-pratique">
                    <h2>Inscrivez-vous aux ateliers pratiques</h2>
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label class="input-title" for="fname">Prénom(s)</label>
                                <input type="text" id="fname" name="fname" class="form-control" {% if usr.first_name %}value="{{usr.first_name}}"{% endif %} placeholder="Prénom(s)">
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label class="input-title" for="lname">Nom</label>
                                <input type="text" id="lname" name="lname" class="form-control" {% if usr.first_name %}value="{{usr.last_name}}"{% endif %} placeholder="Nom">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="input-title" for="gender">Genre</label>
                                <select class="select-product nselect" name="gender" id="gender">
                                    <option value="male" {% if usr.gender and usr.gender == 'male' %}selected{% endif %} >Homme</option>
                                    <option value="female" {% if usr.gender and usr.gender == 'female' %}selected{% endif %} >Femme</option>
                                </select>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="input-title" for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email" {% if usr.email %}value="{{usr.email}}"{% endif %}  placeholder="Addresse email">
                            </div>
                        </div>

                        
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="input-title" for="specialite">Spécialité</label>
                                <input type="text" id="specialite" name="specialite" class="form-control" {% if usr.specialite %}value="{{usr.specialite}}"{% endif %}  placeholder="Spécialité">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="radio-box radio-with-price">
                                    <label class="input-title d-block" for="formule">Vos ateliers</label>
                                    {% if false %}
                                    <div class="pretty p-default p-curve">
                                        <input type="checkbox" name="activite1" id="activite1" value="1" checked />
                                        <div class="state p-primary-o">
                                            <label>
                                                <div class="radio-box-with-price"> 
                                                    <span class="atelier">ECHOCARDIOGRAPHE (Dr Abdellah DAIB) <span class="date">16 déc 2024</span> <span class="time">15H - 16H40</span></span>
                                                </div> 
                                            </label>
                                        </div>
                                    </div>

                                    <div class="pretty p-default p-curve">
                                        <input type="checkbox" name="activite2" id="activite2" value="2"  />
                                        <div class="state p-primary-o">
                                            <label>
                                                <div class="radio-box-with-price">
                                                    <span class="atelier">SYNDROME D’APNÉE OBSTRUCTIVE DU SOMMEIL <span class="date">17 déc 2024</span> <span class="time">09H - 10H45</span></span>
                                                </div> 
                                            </label>
                                        </div>
                                    </div>
                                    {% endif %}

                                    <div class="pretty p-default p-curve">
                                        <input type="checkbox" name="activite3" id="activite3" value="3" checked/>
                                        <div class="state p-primary-o">
                                            <label>
                                                <div class="radio-box-with-price">
                                                    <span class="atelier">ECHOCARDIOGRAPHIQUE (Dr Abdellah DAIB) - Echo 3D - <span class="date">17 déc 2024</span> <span class="time">14H30 - 16H00</span></span>
                                                </div> 
                                            </label>
                                        </div>
                                    </div>
                                    
                                    {% if get.id == "id" %}

                                    <div class="pretty p-default p-curve">
                                        <input type="checkbox" name="activite4" id="activite4" value="4" />
                                        <div class="state p-primary-o">
                                            <label>
                                                <div class="radio-box-with-price">
                                                    <span class="atelier">ECHOCARDIOGRAPHIQUE (Dr Abdellah DAIB) <span class="date">17 déc 2024</span> <span class="time">17H30 - 19H00</span></span>
                                                </div> 
                                            </label>
                                        </div>
                                    </div>
                                    {% endif %}


                                    {#
                                    <div class="pretty p-default p-curve">
                                        <input type="checkbox" name="activite5" id="activite5" value="5" />
                                        <div class="state p-primary-o">
                                            <label>
                                                <div class="radio-box-with-price">
                                                    <span class="atelier">ECHOCARDIOGRAPHIQUE (Dr DAEB) <span class="date">18 déc 2024</span> <span class="time">09H - 10H30</span></span>
                                                </div> 
                                            </label>
                                        </div>
                                    </div>
                                    #}


                                  
                                </div>
                            </div>
                        </div>
                    </div>


                    {#
                    <div class="image-payment">
                        <img src="/src/img/payments.png" alt="">
                    </div>
                    #}

                    <div class="col-lg-12">
                        <button type="submit" class="default-btn btn-style-fore">Je m'inscris</button>
                    </div>

                    <div class="row">
                        <div class="col-md-12 text-center mt-3">
                            <div class="alert sa-alert-form alert-primary d-none" role="alert" id="alert-register">
                                ...
                            </div>
                        </div>
                    </div>


                    </div>

                </form>

               

            </div>
        </div>

        {% endif %}
        <!-- End Login Area -->


       



{% endblock %}
