<!doctype html>
<html class="no-js" lang="fr">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>SOSECAR - {% block page_title %}{% endblock %} </title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="apple-touch-icon" sizes="57x57" href="{{domain_url}}/src/fav/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="{{domain_url}}/src/fav/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="{{domain_url}}/src/fav/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="{{domain_url}}/src/fav/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="{{domain_url}}/src/fav/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="{{domain_url}}/src/fav/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="{{domain_url}}/src/fav/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="{{domain_url}}/src/fav/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="{{domain_url}}/src/fav/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192" href="{{domain_url}}/src/fav/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{domain_url}}/src/fav/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="{{domain_url}}/src/fav/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{domain_url}}/src/fav/favicon-16x16.png">
		<link rel="manifest" href="{{domain_url}}/src/fav/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="{{domain_url}}/src/fav/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<!-- Place favicon.ico in the root directory -->

		<!-- CSS here -->
		<link rel="stylesheet" href="{{domain_url}}/assets/css/bootstrap.min.css"> <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="{{domain_url}}/assets/css/animate.css">
		<link rel="stylesheet" href="{{domain_url}}/assets/css/magnific-popup.css">
		<link rel="stylesheet" href="{{domain_url}}/assets/css/all.min.css">
		<link rel="stylesheet" href="{{domain_url}}/assets/css/flaticon.css">
		<link rel="stylesheet" href="{{domain_url}}/assets/css/circular-font.css">
		<link rel="stylesheet" href="{{domain_url}}/assets/css/font.css">
		<link rel="stylesheet" href="{{domain_url}}/assets/css/themify-icons.css">
		<link rel="stylesheet" href="{{domain_url}}/assets/css/metisMenu.css">
		<link rel="stylesheet" href="{{domain_url}}/assets/css/nice-select.css">
		<link rel="stylesheet" href="{{domain_url}}/assets/css/slick.css">
		<link rel="stylesheet" href="{{domain_url}}/assets/css/spacing.css">

		<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
		<link rel="stylesheet" href="{{domain_url}}/src/fonts/icomoon/style.css">

		<link href="{{domain_url}}/src/vendors/select2/dist/css/select2.min.css" rel="stylesheet"/>

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">



	</head>

	<body>
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">..ezdzdzed.</div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...asazsazsasazsazsazsazsazasasa</div>
  </div>



          	<section id="schedule-section" class="schedule-section section">
          		<div class="container">
          			<h3 class="section-heading text-center mb-5">Schedule</h3>

          			<!-- Nav tabs -->
          			<ul class="schedule-nav nav nav-pills nav-fill" id="myTab" role="tablist">
          				<li class="nav-item me-2">
          					<a class="nav-link active" id="tab-1" data-bs-toggle="tab" href="#tab-1-content" role="tab" aria-controls="tab-1-content" aria-selected="true">
          						<span class="heading">Day 1</span>
          						<span class="meta">(Wed 12, Oct)</span>
          					</a>
          				</li>
          				<li class="nav-item me-2">
          					<a class="nav-link" id="tab-2" data-bs-toggle="tab" href="#tab-2-content" role="tab" aria-controls="tab-2-content" aria-selected="false">
          						<span class="heading">Day 2</span>
          						<span class="meta">(Thu 13, Oct)</span>
          					</a>
          				</li>
          				<li class="nav-item">
          					<a class="nav-link" id="tab-3" data-bs-toggle="tab" href="#tab-3-content" role="tab" aria-controls="tab-3-content" aria-selected="false">
          						<span class="heading">Day 3</span>
          						<span class="meta">(Fri 14, Oct)</span>
          					</a>
          				</li>
          			</ul>

          			<!-- Tab panes -->
          			<div class="schedule-tab-content tab-content">
          				<div class="tab-pane active" id="tab-1-content" role="tabpanel" aria-labelledby="tab-1">
          					<div class="item item-talk">
          						<div class="meta">
          							<h4 class="time mb-3">9:00 - 9:30</h4>
          							<div class="profile">
          								<a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="assets/images/speakers/speaker-1.jpg" alt=""></a>
          								<div class="name"><a class="theme-link" href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">James Doe</a></div>
          							</div><!--//profile-->
          						</div><!--//meta-->
          						<div class="content">
          							<h3 class="title mb-3">Best Practices And Tips For A Clean Angular Application</h3>
          							<div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Conference Room A</div>
          							<div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
          						</div><!--//content-->
          					</div><!--//item-->
          					<div class="item item-talk">
          						<div class="meta">
          							<h4 class="time mb-3">9:30 - 10:00</h4>
          							<div class="profile">
          								<a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="assets/images/speakers/speaker-2.jpg" alt=""></a>
          								<div class="name"><a class="theme-link" href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Sarah Doe</a></div>
          							</div><!--//profile-->
          						</div><!--//meta-->
          						<div class="content">
          							<h3 class="title mb-3">Developer Productivity</h3>
          							<div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Conference Room A</div>
          							<div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
          						</div><!--//content-->
          					</div><!--//item-->
          					<div class="item item-other">
          						<div class="meta">
          							<h4 class="time mb-3">10:00 - 10:30</h4>
          						</div><!--//meta-->
          						<div class="content">
          							<h3 class="title mb-3">Coffee Break</h3>
          							<div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Room A5</div>
          							<div class="desc">Coffee and cakes lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
          						</div><!--//content-->
          					</div><!--//item-->
          					<div class="item item-talk">
          						<div class="meta">
          							<h4 class="time mb-3">10:30 - 11:00</h4>
          							<div class="profile">
          								<a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="assets/images/speakers/speaker-3.jpg" alt=""></a>
          								<div class="name"><a class="theme-link" href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Tim Doe</a></div>
          							</div><!--//profile-->
          						</div><!--//meta-->
          						<div class="content">
          							<h3 class="title mb-3">Progressive Web Apps with React.js</h3>
          							<div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Conference Room A</div>
          							<div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
          						</div><!--//content-->
          					</div><!--//item-->
          					<div class="item item-talk">
          						<div class="meta">
          							<h4 class="time mb-3">11:00 - 12:00</h4>
          							<div class="profile">
          								<a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="assets/images/speakers/speaker-4.jpg" alt=""></a>
          								<div class="name"><a class="theme-link" href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Josh Doe</a></div>
          							</div><!--//profile-->
          						</div><!--//meta-->
          						<div class="content">
          							<h3 class="title mb-3">Talk Title Lorem Ipsum</h3>
          							<div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Conference Room B</div>
          							<div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
          						</div><!--//content-->
          					</div><!--//item-->
          					<div class="item item-other">
          						<div class="meta">
          							<h4 class="time mb-3">12:00 - 13:30</h4>
          						</div><!--//meta-->
          						<div class="content">
          							<h3 class="title mb-3">Lunch Break</h3>
          							<div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Room B6</div>
          							<div class="desc">Buffet lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
          						</div><!--//content-->
          					</div><!--//item-->
          					<div class="item item-talk">
          						<div class="meta">
          							<h4 class="time mb-3">13:30 - 14:30</h4>
          							<div class="profile">
          								<a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="assets/images/speakers/speaker-5.jpg" alt=""></a>
          								<div class="name"><a class="theme-link" href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Ling Doe</a></div>
          							</div><!--//profile-->
          						</div><!--//meta-->
          						<div class="content">
          							<h3 class="title mb-3">Talk Title Lorem Ipsum</h3>
          							<div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Conference Room C</div>
          							<div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
          						</div><!--//content-->
          					</div><!--//item-->
          					<div class="item item-talk">
          						<div class="meta">
          							<h4 class="time mb-3">14:30 - 15:30</h4>
          							<div class="profile">
          								<a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="assets/images/speakers/speaker-6.jpg" alt=""></a>
          								<div class="name"><a class="theme-link" href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Andy Doe</a></div>
          							</div><!--//profile-->
          						</div><!--//meta-->
          						<div class="content">
          							<h3 class="title mb-3">Talk Title Lorem Ipsum</h3>
          							<div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Conference Room C</div>
          							<div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
          						</div><!--//content-->
          					</div><!--//item-->
          					<div class="item item-talk">
          						<div class="meta">
          							<h4 class="time mb-3">15:30 - 16:30</h4>
          							<div class="profile">
          								<a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="assets/images/speakers/speaker-7.jpg" alt=""></a>
          								<div class="name"><a class="theme-link" href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Alice Doe</a></div>
          							</div><!--//profile-->
          						</div><!--//meta-->
          						<div class="content">
          							<h3 class="title mb-3">Talk Title Lorem Ipsum</h3>
          							<div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Conference Room C</div>
          							<div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
          						</div><!--//content-->
          					</div><!--//item-->
          					<div class="item item-talk">
          						<div class="meta">
          							<h4 class="time mb-3">16:30 - 17:30</h4>
          							<div class="profile">
          								<a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="assets/images/speakers/speaker-8.jpg" alt=""></a>
          								<div class="name"><a class="theme-link" href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Thomas Doe</a></div>
          							</div><!--//profile-->
          						</div><!--//meta-->
          						<div class="content">
          							<h3 class="title mb-3">Talk Title Lorem Ipsum</h3>
          							<div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Conference Room C</div>
          							<div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
          						</div><!--//content-->
          					</div><!--//item-->
          					<div class="item item-other">
          						<div class="meta">
          							<h4 class="time mb-3">18:00 - 24:00</h4>
          						</div><!--//meta-->
          						<div class="content">
          							<h3 class="title mb-3">Dinner &amp; After-party</h3>
          							<div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Bar Lorem Ipsum</div>
          							<div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
          						</div><!--//content-->
          					</div><!--//item-->

          				</div><!--//tab-1-content-->
          				<div class="tab-pane no-timeline" id="tab-2-content" role="tabpanel" aria-labelledby="tab-2">
          					<h4 class="text-center py-5 text-muted">Day 2 Agenda Coming Soon...</h4>
          				</div><!--//tab-2-content-->
          				<div class="tab-pane no-timeline" id="tab-3-content" role="tabpanel" aria-labelledby="tab-3">
          					<h4 class="text-center py-5 text-muted">Day 3 Agenda Coming Soon...</h4>
          				</div><!--//tab-3-content-->
          			</div><!--//schedule-tab-content-->

          		</div><!--//container-->
          	</section><!--//schedule-section-->





		<!--footer-area end-->






	
	</body>

</html>
