{% extends 'templates/layoutpage.twig' %}
{% block page_title %}Liste des posters{% endblock %}
{% block main_page_title %}Liste des posters{% endblock %}
{% block page_content %}


        <!-- Event Info Section -->
    <section class="event-info-section">
        <div class="auto-container">
            <div class="row">


    <div class="site-section" id="le-programme-section">
        <div class="container">
          <div class="row">
            <ul class="document_list">
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/1.jpg" target="_blank" >Tamponnade révélatrice d’une péricardite purulente à Klebsiella pneumoniæ et Escherichia coli. Guérison clinique par drainage et antibiothérapie. Sikasso (Mali).</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/2.jpg" target="_blank" >Évaluation de l’observance thérapeutique chez des patients hypertendus au niger</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/3.jpg" target="_blank" >Cas Clinique : Myxome De L’oreillette Gauche</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/4.jpg" target="_blank" >Resultats à Court Et Long Terme De La Commissurotomie Mitrale Percutanee : A Propos De 45 Cas Colliges A L’hôpital Principal De Dakar</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/5-Novartis.jpg" target="_blank" >Prendre une nouvelle voie sacubitril/valsartan dès le stade NYHA#II</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/5.jpg" target="_blank" >Syndrome Coronaire Aigu Sans Sus-decalage Du Segment St Etude Comparative Des Aspets Sociodemographiques, Cliniques, Paracliniques, Therapeutiques Et Evolutifs Entre  Femmes Et  Hommes Au Service De Cardiologie De L’hopital Principale De Dakar</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/6.jpg" target="_blank" >Réadaptation Cardiovasculaire au Centre Hospitalo-Universitaire de Conakry : Enquête auprès des Médecins</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/7.jpg" target="_blank" >Aspects Electrocardiographiques Des Athletes De Haut Niveau : A Propos De 103 Cas Au Senegal.</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/8.jpg" target="_blank" >Étude Comparative Du Contenu Fréquentiel Des Potentiels Anormaux À Partir Des Signaux De Surface Et Des Electrogrammes Issus De Huit (8) Patients Atteints De Tachycardie Ventriculaire</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/9.jpg" target="_blank" >Une Non Compaction Bi-ventriculaire Revelee Par Une Defaillance Cardiaque Globale : A Propos D’un Cas Au Chr De Saint-Louis</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/10-Teriak.jpg" target="_blank" >L'association Intelligente</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/10.jpg" target="_blank" >Prevalence De La Cardiomyopathie Du Peri-partum Au Centre Hospitalier National Cheikh Ahmadoul Khadim De Touba </a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/11.jpg" target="_blank" >Recherche De Thrombus Peripherique Au Cours De L’embolie Pulmonaire Au Centre Hospitalier Universitaire (Chu) De Kara </a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/12.jpg" target="_blank" >Impact Of Diabetes In-hospital And Long-term Mortality In St-segment Elevation Acute Coronary Syndrome </a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/13.jpg" target="_blank" >Hypertention Arterielle Et Diabete : Problematique De La Prise En Charge Chez Les Patients Admis A L'hopital De L'amitie Sino-guineenne. </a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/14.jpg" target="_blank" >Impact of Smoking on In-Hospital Mortality in ST-Elevation Myocardial Infarction (STEMI): Smoker's Paradox </a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/15.jpg" target="_blank" >Prevalence Of Cardiovascular Risk Factors And Mortality In Female Patients Presenting With Stemi</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/16.jpg" target="_blank" >Indications Et Résultats De L'holter Ecg De 24 Heures Chez Les Patients Suivis Pour Syndrome D'apnée Obstructive Du Sommeil: A Propos De 23 Cas</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/17.jpg" target="_blank" >Angioplastie du Tronc Commun gauche non protégé : expérience de l’hôpital Général Idrissa Pouye de Dakar.</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/18.jpg" target="_blank" >Les Syndromes Coronariens Aigus A Dakar : Evaluation Des Donnees Du Registre Stemi.</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/19-Servier.jpg" target="_blank" >Symposium Servier</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/19.jpg" target="_blank" >HTA Et Facteurs De Risque Cardiovasculaire Associes En Consultation De Cardiologie A L'hopital De La Paix De Ziguinchor</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/20.jpg" target="_blank" >Aspects Epidemiologiques, Diagnostiques Et Therapeutiques Des Pericardites Au Service De Medecine De L'hopital De La Paix De Ziguinchor</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/21.jpg" target="_blank" >Niveau De Risque Et État Cardiovasculaire À Long Terme Des Patients Ayant Présenté Des Formes Séveres De Covid 19 À L'hôpital Dalal Jam De Dakar: Étude Préliminaire À Propos De 27 Cas </a> </li>
             {#
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/COMMUNICATION P9 INDICATIONS ET RESULTATS CORONAROGRAPHIE BURKINA.pdf" target="_blank" >INDICATIONS ET RESULTATS DE LA CORONAROGRAPHIE AU BURKINA FASO : DONNEES PRELIMINAIRES DU REGISTRE RE.C.I-BURKINA.</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/Communication_Affichée_Dr SONFO(MALI).PowerPoint1.pdf" target="_blank" >OBSERVANCE THERAPEUTIQUE CHEZ LES PATIENTS SUIVIS POUR INSUFFISANCE CARDIAQUE EN AMBULATOIRE AU SERVICE DE CARDIOLOGIE DU CHU DE KATI</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/Communication_Affichée_Dr THIAM(MALI).pdf" target="_blank" >PROFIL METABOLIQUE DES PATIENTS HYPERTENDUS PRIS EN CHARGE DANS LE SERVICE DE CARDIOLOGIE DU CHU MERE-ENFANT ‟LE LUXEMBOURG”</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/Compliance Reco EP _Togo_Afassinou.pptx" target="_blank" >PRISE EN CHARGE DE L’EMBOLIE PULMONAIRE EN CARDIOLOGIE AU CHU SYLVANUS OLYMPIO DE LOME AU REGARD DES RECOMMANDATIONS DE L’ESC 2019</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/Doc.poster2 Mina.final.pdf" target="_blank" >LES URGENCES CARDIOVASCULAIRES AU TCHAD : CAS DU CHU LA RENAISSANCE ET DU CHU DE REFERENCE NATIONALE</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/double arc aortique associé à APSO.pdf" target="_blank" >DOUBLE ARC AORTIQUE ASSOCIÉ À UNE ATRÉSIE PULMONAIRE À SEPTUM OUVERT : A PROPOS D’UN CAS</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/E-poster SOSECAR 2023.pptx" target="_blank" >LA DYSFONCTION ERECTILE CHEZ LES PATIENTS HYPERTENDUS AU NIGER</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/ePoster-A OWONA CMR-LVH and Stroke.pdf" target="_blank" >ECHOCARDIOGRAPHIC LEFT VENTRICULAR HYPERTROPHY IN ISCHEMIC STROKE OR TIA: MORE THAN A SIMPLE TARGET ORGAN DAMAGE</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/Etude observationelle des cardiopathie congenitales.pdf" target="_blank" >Etude observationnelle des cardiopathies congénitales à propos de 548 cas au CHU-ME « Le Luxembourg » de Bamako.</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/ETUDE_~1.PDF" target="_blank" >Etude des profils dyslipidémiques chez des patients hypertendus suivis au Centre médical du Camp Général Aboubacar Sangoulé LAMIZANA, à Ouagadougou.</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/Mve Mvondo. Cardiac Tumors. Poster.pptx" target="_blank" >SURGICAL TREATMENT OF CARDIAC TUMORS IN BLACK AFRICANS: REPORT OF 13 CASES  </a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/P10_CMPP_Kati.pptx" target="_blank" >Cardiomyopathie du péripartum : Aspects épidémio-cliniques et évolutifs au service de cardiologie du CHU de Kati</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/P24 PROFIL PATHOLOGIQUE CARDIOPATHIE CONGENITALE TOUBA.pptx" target="_blank" >PROFIL PATHOLOGIQUE DES CARDIOPATHIES CONGENITALES AU SERVICE DE CARDIOLOGIE DU CENTRE HOSPITALIER NATIONAL CHEIKH AHMADOUL KHADIM DE TOUBA: ETUDE PROSPECTIVE DE 100 CAS</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/P34.odp" target="_blank" >Télémédecine au profit de la prise en charge chirurgicale d’une plaie cardiaque accidentelle au Cameroun : à propos d’un cas </a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/P36 VALVULOPATHIE RHUMATISMALE.pdf" target="_blank" >VALVULOPATHIES RHUMATISMALES CHEZ LES ADULTES DANS LA REGION DE SAINT LOUIS : DEPISTAGE ECHOCARDIOGRAPHIQUE A PROPOS DE 2769 ADULTES</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/P48-EM~1.PPT" target="_blank" >Embolie pulmonaire grave révélant un carcinome hépatocellulaire sur hépatite C chronique : à propos d’un cas</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/P55-  ADJOUGOULTA.pptx" target="_blank" >LES PARTICULARITES DE LA FIBRILLATION ATRIALE AU CHU RN  N’DJAMENA</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/P56_FA~1.PPT" target="_blank" >Facteurs prédicteurs de connaissance sur l’HTA: évolution sur 13 ans</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/P65_IC femme CHU GT_BA HO poster.pptx" target="_blank" >Insuffisance Cardiaque chez la femme dans le service de Cardiologie du CHU Gabriel Touré (CHU GT)</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/P66 MYOCARDITE FULMINANTE TOUBA.pptx" target="_blank" >MYOCARDITE FULMINANTE: DE LA DOULEUR AU CHOC CARDIOGENIQUE PAR DYSFONCTION DU VENTRICULE GAUCHE AVEC RESTITUTION AD INTEGRUM DE LA FONCTION SYSTOLIQUE</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/P75 Association HTA-DT2 Thiès. Affangla.pdf" target="_blank" >ASPECTS EPIDEMIOLOGIQUES DE L’ASSOCIATION HYPERTENSION ARTERIELLE ET DIABETE DE TYPE 2 A L’HOPITAL SAINT JEAN DE DIEU DE THIES (SENEGAL)</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/P78_BE_Kati.pptx" target="_blank" >Importance de la consommation des boissons énergisantes chez les footballeurs maliens</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/Poster  47 EVALUATION DES CONNAISSANCES, ATTITUDES ET PRATIQUES SUR.pptx" target="_blank" >EVALUATION DES CONNAISSANCES, ATTITUDES ET PRATIQUES SUR LA PRISE EN CHARGE DE L’HYPERTENSION ARTÉRIELLE AU COURS DE LA GROSSESSE DU PERSONNEL SOIGNANT EN RÉPUBLIQUE DE GUINÉE CONAKRY DU 1ER AVRIL 2022 AU 31 MARS 2023</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/Poster 67 Anna Sosecar 2023.pdf" target="_blank" >ENQUETE SUR LA PERCEPTION DE LA MALADIE THROMBO-EMBOLIQUE VEINEUSE AUPRES DES CARDIOLOGUES AU BURKINA FASO</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/POSTER BRUGADA AND DS. SERGIO.docx" target="_blank" >SYNDROME DE BRUGADA ET DYSFONCTION SINUSALE : UNE ASSOCIATION RARE MAIS PERNICIEUSE (Illustration d’un cas).</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/poster Coro SOSECAR 2023.pptx" target="_blank" >INTERET DE LA CORONAROGRAPHIE DANS LE DIAGNOSTIC ETIOLOGIQUE DES INSUFFISANCES CARDIAQUES A FEVG ALTEREE AU SERVICE DE CARDIOLOGIE DE L’HOPITAL PRINCIPAL DE DAKAR DE JANVIER 2019 A DECEMBRE 2022</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/Poster Gana NDIONE Congrès cardiologie.ppt" target="_blank" >EFFET D’UN PROGRAMME DE REEDUCATION POST AVC PAR LES ACTIVITES   PHYSIQUES ET SPORTIVES ADAPTEES SANTE </a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/poster IRM SOSECAR 2023.pptx" target="_blank" >L’APPORT DE L’IRM DANS LE DIAGNOSTIC DE L’INSUFFISANCE CARDIAQUE : ETUDE TRANSVERSALE DESCRIPTIVE A PROPOS DE 39 CAS COLLIGES A L’HOPITAL PRINCIPAL DE DAKAR</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/Poster masse pericardique.pptx" target="_blank" >TUMEUR OU HEMATOME PERICARDIQUE « RIEN NE SE PERD, RIEN NE SE CREE, TOUT SE TRANSFORME »</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/poster MVTE SOSECAR.pptx" target="_blank" >ASPECTS ETIOLOGIQUES ET EVOLUTIFS DE  LA MALADIE VEINEUSE THROMBOEMBOLIQUE AU SERVICE DE CARDIOLOGIE DE L’HOPITAL PRINCIPAL DE DAKAR : ETUDE RETROSPECTIVE A PROPOS DE 190 CAS SUR UNE PERIODE  DE 60 MOIS.</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/Poster Phéochromocytome SOSECAR.pdf" target="_blank" >INTERET DU DOSAGE DES CATECHOLAMINES PLASMATIQUES DANS LE DIAGNOSTIC DU PHEOCHROMOCYTOME CHEZ LES HÉMODIALYSÉS CHRONIQUES ANURIQUES : A PROPOS D’UN CAS A ZIGUINCHOR</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/Poster Pr Ag MILLOGO Portrait.pdf" target="_blank" >INSUFFISANCE CARDIAQUE : FACTEURS DE DECOMPENSATION ET PRONOSTIC DANS LE SERVICE DE CARDIOLOGIE DU CENTRE HOSPITALIER UNIVERSITAIRE YALGADO OUEDRAOGO</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/poster socecar 2023.pdf" target="_blank" >PROFIL ET EVOLUTION DES PATIENTS ADMIS A L’UNITE DE SOINS INTENSIFS CARDIOLOGIQUES DU CENTRE HOSPITALIER NATIONAL DALAL JAMM</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/Poster SOSECAR - Dylipidémies .pdf" target="_blank" >PREVALENCE DES DYSLIPIDEMIES AU LABORATOIRE DE BIOCHIMIE DU CENTRE HOSPITALIER UNIVERSITAIRE LA REFERENCE NATIONALE DE N'DJAMENA-TCHAD</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/Poster SOSECAR - Insuffisace Cardiaque.pdf" target="_blank" >PRISE EN CHARGE DE L'INSUFFISANCE CARDIAQUE AU CHU DE REFERENCE NATIONALE DE NDJAMENA-TCHAD.</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/posters/2024/poster sosecar 23 (1).pdf" target="_blank" >TACHYCARDIE VENTRICULAIRE : ASPECTS EPIDEMIOLOGIQUE, CLINIQUE ET THERAPEUTIQUE AU SERVICE DE CARDIOLOGIE DE L’HOPITAL IGNACE DEEN DE CONAKRY.</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/" target="_blank" ></a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/" target="_blank" ></a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/" target="_blank" ></a> </li>
              
              <li class="document mb-3"> <a href="{{domain_url}}/affiches/P18_Determinants_du_Controle_PA_chez_hypertendus_ICA_Benedicte_BOKA_Cote_d_Ivoire.pdf" target="_blank" >LES DÉTERMINANTS DU CONTRÔLE DE LA PRESSION ARTERIELLE CHEZ LES HYPERTENDUS SUIVIS A L’INSTITUT DE CARDIOLOGIE D’ABIDJAN</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/affiches/P19_Evaluation_OBSERVANCE_THERAPEUTIQUE_CHEZ_LE_CORONARIEN_ICA_A_EKOU_Cote_d_Ivoire.pdf" target="_blank" >EVALUATION DE L’OBSERVANCE THERAPEUTIQUE CHEZ LE CORONARIEN SUIVI EN AMBULATOIRE A L’INSTITUT DE CARDIOLOGIE D’ABIDJAN</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/affiches/P20_Functional_status_EHRA_classsif_FA_Yaounde_Jerome_Boombhi_Cameroun.pptx" target="_blank" >Functional status by EHRA classification of patients with atrial fibrillation in the Yaounde General Hospital, Cameroon.</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/affiches/P21_Phéochromocytome_revele_par_SCA_Papa_G_NDIAYE_HALD_Senegal.pdf" target="_blank" >Phéochromocytome révélé par un syndrome coronarien aigu : à propos d’un cas.</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/affiches/P22_Angioplastie_primaire_HOGIP_Cheikh_NIANG_Senegal.pdf" target="_blank" >ANGIOPLASTIE PRIMAIRE A DAKAR : PREVALENCE ET DELAI DE PRIS EN CHARGE AU SERVICE DE CARDIOLOGIE DE L’HOPITAL GENERAL IDRISSA POUYE</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/affiches/P23_Evolution_T4_Tétralogie_Fallot_Hussein_KHADRA_HALD_Sénégal.pdf" target="_blank" >EVOLUTION À LONG TERME DE LA TETRALOGIE DE FALLOT À PROPOS DE 34 CAS AU SERVICE DE CARDIOLOGIE DU CHU ARISTIDE LE DANTEC</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/affiches/P24_VALEUR_PRONOSTIQUE_HYPERGLYCEMIE_SCA_Touré_C__Equipe_NGUETTA_Côte_d_Ivoire.pdf" target="_blank" >VALEUR PRONOSTIQUE DE L’HYPERGLYCEMIE A L’ADMISSION DANS LES SYNDROMES CORONARIENS AIGUS A ABIDJAN</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/affiches/P25_Aspects_Embolie_pulmonaire_Ziguinchor_-_Simon Manga_-_Ziguinchor_Sénégal.pptx" target="_blank" >ASPECTS EPIDEMIOLOGIQUE, DIAGNOSTIQUE, THERAPEUTIQUE ET EVOLUTIF DE L’EMBOLIE PULMONAIRE A ZIGUINCHOR</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/affiches/P26_Cardiopathies_congénitales_ado_et_adulte_Guinée_Bah_M_Bassirou_Guinée.pdf" target="_blank" >CARDIOPATHIES CONGENITALES DE L’ADOLESCENT ET DE L’ADULTE EN GUINEE</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/affiches/P28_HTA_ET_LES_FACTEURS_DE_RISQUE_CARDIOVASCULAIRE_-_Beavogui_M. Guinée.pptx" target="_blank" >HTA ET LES FACTEURS DE RISQUE CARDIOVASCULAIRE DANS UN HÔPITAL REGIONAL EN GUINEE</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/affiches/P29_Agenesie_alve_pulmonaire_adulte_Bah_M._Bassirou_Guinée.pdf" target="_blank" >AGENESIE DE LA VALVE PULMONAIRE DECOUVERTE CHEZ UN ADULTE DE 29 ANS</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/affiches/P30_SCA_a_Saint-Louis_Khadimu_Rassul_DIOP_Saint-Louis_Sénégal.pdf" target="_blank" >SYNDROMES CORONARIENS AIGUS : ASPECTS CLINIQUES, ELECTROCARDIOGRAPHIQUES, ECHOCARDIOGRAPHIQUES ET EVOLUTIFS A SAINT-LOUIS A PROPOS DE 47 CAS.</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/affiches/P31_SAOS_sévère_cause_HTA-CC_Yaya_BALDE_Guinée.pdf" target="_blank" >Syndrome d’apnées obstructives du sommeil très sévère: cause d’une hypertension artérielle résistante, à propos d’un cas</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/affiches/P33_INTERET_DE_Holter_ECG_AGE_SCOLAIRE_en_CARDIOPEDIATRIQUE_DU_CHU_LA_RABTA_G_KINDA_Burkina_Faso.ppt" target="_blank" >INTERET DE L'ENREGISTREMENT ELECTROCARDIOGRAPHIQUE CONTINU DES 24 HEURES CHEZ LES ENFANTS D'AGE SCOLAIRE AU SERVICE DE CARDIOLOGIE PEDIATRIQUE DU CHU LA RABAT À TUNIS</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/affiches/P34_Commisurotomie_mitrale_percutanée_Marina_KOUESSI_HALD_Sénégal.pdf" target="_blank" >RESULTATS A COURT ET MOYEN TERME DE LA COMMISSUROTOMIE MITRALE PERCUTANEE A PROPOS DE 14 CAS COLLIGES AU CHU ARISTIDE LE DANTEC DE DAKAR</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/affiches/P35_DOUBLE_DISCORDENCE_Asmaou_Keita_Mali.pptx" target="_blank" >DOUBLE DISCORDANCE AVEC STENOSE PULMONAIRE : A PROPOS D’UN CAS CLINIQUE</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/affiches/P36_AR_multimodal_assessment_N_Cho-Mottoh_MP_Bernadette_Côte_d_Ivoire.pdf" target="_blank" >AORTIC REGURGITATION:MULTIMODAL ASSESSMENT OF QUANTIFICATION AND IMPACT</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/affiches/P37_Prolapsus_VM_N_Cho-Mottoh_MP_Bernadette_Côte_d_Ivoire.pdf" target="_blank" >Prevalence and echocardiographic characteristics of mitral annular disjunction in patients with mitral valve prolapse</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/affiches/P38_Myxome_OG_AVC_I_Bamba_Samb_Sénégal.pdf" target="_blank" >Myxome de l’oreillette gauche révélé par un accident vasculaire cérébral ischémique : à propos d’un cas</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/affiches/P39_Thrombose_aiguë_stent_Salimatou_D._DIALLO_HALD_Sénégal.pptx" target="_blank" >Thrombose aigue de stent coronaire et hyperhomocystéinémie : association fortuite ou intriguée ??</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/affiches/Poster_chronotherapie-KL-sosecar-2020.pptx" target="_blank" >EFFET DE LA CHRONOTHERAPIE SUR LE CONTRÔLE TENSIONNEL  A L’HOPITAL CENTRAL DE YAOUNDE</a> </li>
              <li class="document mb-3"> <a href="{{domain_url}}/affiches/Poster_Mortalite_hospitaliere_IC-KL-Sosecar-2020.pptx" target="_blank" >PRÉVALENCE ET FACTEURS ASSOCIES À LA MORTALITÉ INTRA-HOSPITALIÈRE DES PATIENTS AYANT UNE INSUFFISANCE CARDIAQUE DANS LA VILLE DE YAOUNDÉ: CAS DE DEUX HÔPITAUX DE RÉFÉRENCE</a> </li>
            #}
            </ul>
          </div>
        </div>
    </div>

            </div>
        </div>
    </section>
    <!--End Event Info Section -->

 
<script src="{{domain_url}}/assets/js/vendor/jquery-2.2.4.min.js"></script>

      <script type="text/javascript">
        $(document).on('change','.up', function(){
          var names = [];
          var length = $(this).get(0).files.length;
          for (var i = 0; i < $(this).get(0).files.length; ++i) {
              names.push($(this).get(0).files[i].name);
          }

           //$("input[name=file]").val(names);

          if(length>2){
            var fileName = names.join(', ');
            $(this).closest('.form-group').find('.form-control').attr("value",length+" files selected");
          }
          else{
            $(this).closest('.form-group').find('.form-control').attr("value",names);
          }

       });





       $(document).ready(function() {
        $("#resume").on('keyup', function() {
          var words = 0;

          if ((this.value.match(/\S+/g)) != null) {
            words = this.value.match(/\S+/g).length;
          }

          if (words > 500) {
            // Split the string on first 200 words and rejoin on spaces
            var trimmed = $(this).val().split(/\s+/, 500).join(" ");
            // Add a space at the end to make sure more typing creates new words
            $(this).val(trimmed + " ");
          }
          else {
            $('#display_count').text(words);
            $('#word_left').text(500-words);
            $(".word_left").removeClass('help-block error');
            $("#resume-error").html('');
          }

          if (words == 500) {
            $(".word_left").addClass('help-block error');

            $("#resume-error").html("Votre article ne respecte pas les normes indiquées. <br>Nous vous prions de le rectifier avant renvoi. Merci<br>Le comité scientifique");
          }





        });
      });
      </script>
{% endblock %}
