<!doctype html>
<html class="no-js" lang="fr">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>6ème édition du Cardiotech </title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">


		<!-- Stylesheets -->
		<link href="{{domain_url}}/src/v3/css/bootstrap.css" rel="stylesheet">
		<link href="{{domain_url}}/src/v3/css/style.css?v=0.02" rel="stylesheet">
		<link href="{{domain_url}}/src/v3/css/responsive.css" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
		<link rel="stylesheet" href="{{domain_url}}/src/fonts/icomoon/style.css">
		<link href="{{domain_url}}/src/vendors/select2/dist/css/select2.min.css" rel="stylesheet"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">

		<link rel="stylesheet" href="{{domain_url}}/assets/css/nice-select.css">


		<link href="{{domain_url}}/src/v3/css/main.css?v=0.{{random(10,12000)}}000001" rel="stylesheet">

		<!--Color Switcher Mockup-->
		<link href="{{domain_url}}/src/v3/css/color-switcher-design.css" rel="stylesheet">

		<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
		<link rel="icon" href="images/favicon.png" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="57x57" href="{{domain_url}}/src/fav/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="{{domain_url}}/src/fav/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="{{domain_url}}/src/fav/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="{{domain_url}}/src/fav/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="{{domain_url}}/src/fav/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="{{domain_url}}/src/fav/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="{{domain_url}}/src/fav/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="{{domain_url}}/src/fav/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="{{domain_url}}/src/fav/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192" href="{{domain_url}}/src/fav/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{domain_url}}/src/fav/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="{{domain_url}}/src/fav/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{domain_url}}/src/fav/favicon-16x16.png">
		<link rel="manifest" href="{{domain_url}}/src/fav/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="{{domain_url}}/src/fav/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">


		<!-- Responsive -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">


		<!-- OLD -->


		<!-- Place favicon.ico in the root directory -->
		<link rel="stylesheet" href="{{domain_url}}/assets/css/mdi.min.css">




		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-N1QE2B93EF"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-N1QE2B93EF');
		</script>
	</head>

	<body>

		<div data-domain="{{ domain_url }}" data-resquest-uri="{{ request_uri }}" data-defined-domain="{{ defined_base_domain }}" id="domain" data-url-redirect="{{url_redirect}}"></div>
		<div class="page-wrapper">

			<!-- Preloader -->
			<div class="preloader"></div>
			<!-- Header span -->

			<!-- Header Span -->
			<span class="header-span"></span>

			<!--Error Section-->
			<section class="error-section" style="min-height:100vh">
				<div class="anim-icons full-width">
					<span class="icon icon-circle-blue wow fadeIn"></span>
					<span class="icon icon-dots wow fadeInleft"></span>
					<span class="icon icon-line-1 wow zoomIn"></span>
					<span class="icon icon-circle-1 wow zoomIn"></span>
				</div>

				<div class="auto-container">
					<div class="error-title">...</div>
					<h4>En maintenance</h4>
					<div class="text">Votre site est en maintenance, nous serons en ligne très bientôt !</div>
				</div>
			</section>
			<!--Error Section-->



			<!-- Main Footer -->
			<footer class="main-footer">

				<!--Footer Bottom-->
				<div class="footer-bottom">
					<div class="auto-container">
						<div class="inner-container clearfix">
							<div class="copyright-text">
								<p>© Copyright 2024 - SOSECAR</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- End Footer -->

		</div>
		<!--End pagewrapper-->


		<!--[if lte IE 9]>
		            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
		        <![endif]-->

		<!-- Add your site or application content here -->

		<!-- preloader end  -->
		<!-- header-area start -->




		<!--Scroll to top-->
		<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-double-up"></span></div>
		<script src="{{domain_url}}/src/v3/js/jquery.js"></script>
		<script src="{{domain_url}}/src/v3/js/popper.min.js"></script>
		<script src="{{domain_url}}/src/v3/js/bootstrap.min.js"></script>
		<script src="{{domain_url}}/src/v3/js/jquery-ui.js"></script>
		<script src="{{domain_url}}/src/v3/js/jquery.fancybox.js"></script>
		<script src="{{domain_url}}/src/v3/js/appear.js"></script>
		<script src="{{domain_url}}/src/v3/js/owl.js"></script>
		<script src="{{domain_url}}/src/v3/js/jquery.countdown.js"></script>
		<script src="{{domain_url}}/src/v3/js/wow.js"></script>
		<script src="{{domain_url}}/src/v3/js/script.js?v=0.02"></script>

		<!-- Color Setting -->
		<script src="{{domain_url}}/src/v3/js/color-settings.js"></script>




		<!-- JS here -->
		<script src="{{domain_url}}/assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<script src="{{domain_url}}/assets/js/vendor/jquery-2.2.4.min.js"></script>
		<script src="{{domain_url}}/assets/js/popper.min.js"></script>
		<script src="{{domain_url}}/assets/js/bootstrap.min.js"></script>
		<script src="{{domain_url}}/assets/js/owl.carousel.min.js"></script>
		<script src="{{domain_url}}/assets/js/isotope.pkgd.min.js"></script>
		<script src="{{domain_url}}/assets/js/slick.min.js"></script>
		<script src="{{domain_url}}/assets/js/metisMenu.min.js"></script>
		<script src="{{domain_url}}/assets/js/jquery.nice-select.js"></script>
		<script src="{{domain_url}}/assets/js/ajax-form.js"></script>
		<script src="{{domain_url}}/assets/js/wow.min.js"></script>
		<script src="{{domain_url}}/assets/js/jquery.counterup.min.js"></script>
		<script src="{{domain_url}}/assets/js/waypoints.min.js"></script>
		<script src="{{domain_url}}/assets/js/jquery.scrollUp.min.js"></script>
		<script src="{{domain_url}}/assets/js/imagesloaded.pkgd.min.js"></script>
		<script src="{{domain_url}}/assets/js/jquery.magnific-popup.min.js"></script>
		<script src="{{domain_url}}/assets/js/jquery.easypiechart.js"></script>
		<script src="{{domain_url}}/assets/js/tilt.jquery.js"></script>
		<script src="{{domain_url}}/assets/js/animate-headline.js"></script>
		<script src="{{domain_url}}/assets/js/plugins.js"></script>
		<script src="{{domain_url}}/assets/js/main.js"></script>

		<script src="{{domain_url}}/src/vendors/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
		<script src="{{domain_url}}/src/vendors/select2/dist/js/select2.full.min.js" type="text/javascript"></script>


		<script src="{{domain_url}}/src/js/jquery-ui.js"></script>
		<script src="{{domain_url}}/src/js/popper.min.js"></script>
		<script src="{{domain_url}}/src/js/bootstrap-datepicker.min.js"></script>
		<script src="{{domain_url}}/src/js/jquery.easing.1.3.js"></script>
		<script src="{{domain_url}}/src/js/aos.js"></script>
		<script src="{{domain_url}}/src/js/jquery.fancybox.min.js"></script>
		<script src="{{domain_url}}/src/js/jquery.sticky.js"></script>


		<script src="{{domain_url}}/src/vendors/moment/min/moment.min.js" type="text/javascript"></script>
		<script src="{{domain_url}}/src/vendors/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
		<script src="{{domain_url}}/src/vendors/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>

		<script src="{{domain_url}}/src/vendors/webticker.js"></script>



		<script src="{{domain_url}}/src/js/app.js?v=4.{{random(10, 10000)}}097"></script>






		<script>
			$(document).ready(function($) {
				$(".link-landing").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top}, 100);
				});
			});
		</script>

		<script type="text/javascript">
			$(document).ready(function(){
				$('#webTicker').webTicker();

				$('.see-more').click(function(e){
						e.preventDefault();
					$('.show-begin').css("display", "none");
						$('.show-off').show();
							$('.owl-height').css("height", "100%");
				});

				$('.see-minus').click(function(e){
						e.preventDefault();
					$('.show-begin').show();
					$('.show-off').css("display", "none");

				});

				$("#phone").keydown(function (event) {
					if (event.keyCode == 32) {
						//event.preventDefault();
					}
				}).on("keypress keyup blur",function (event) {
				$(this).val($(this).val().replace(/[^\d].+/, ""));
					if ((event.which < 48 || event.which > 57)) {
						event.preventDefault();
					}
				});
				})

				var domain = $("#domain").data("domain");

				$('#country').on('change', function() {
					var countryId = $("#country option:selected").val();

					console.log("Country changed");
					console.log(domain);
					var formData = new FormData();
					formData.append("countryId", countryId);

					$.ajax({
					url: domain+'/states/init',
					type: "POST",
					data: formData,
					processData: false,
					contentType: false,
					cache: false,
					beforeSend: function(){
					},
					statusCode: {
						200: function(responseObject, textStatus, errorThrown) {

						},
						500: function(responseObject, textStatus, errorThrown) {

						},
					}
					}).done(function( dataSrc ) {

						var dataSlct2 = JSON.parse(dataSrc);

						$("#state").empty().select2({
							data: dataSlct2
						});

						var phoneCode = $("#country").select2().find(":selected").data("phone-code");
						$("#ind-addon").html("+" + phoneCode);
					});
				})

		</script>

	</body>

</html>
