{% extends 'templates/layout.twig' %}
{% block page_title %}Liste des QrCodes{% endblock %}
{% block participant_qr_code %}active{% endblock %}
{% block page_title_breadcrumb %}QrCodes{% endblock %}
{% block content %}


<section class="forms-validation">
  <div class="page-header">
    <h1>      <i class="md md-apps"></i>    Liste des QrCodes  ({{data.participants | length}}) </h1>
    <p class="lead d-none">The <a href="http://1000hz.github.io/bootstrap-validator/" target="_blank">Validator plugin</a> offers automatic form validation configurable via mostly HTML5 standard attributes. It also provides an unobtrusive user experience, because nobody likes a naggy form.</p>
  </div>
  <div class="row  m-b-40">
    <div class="col-md-3 col-md-push-9 ">
      <a href="#" id="btn-print" style="float: right; font-size:15px"> <i class="md md-local-print-shop"></i> Imprimer</a>
      <h5 class="d-none">Aide</h5>
      <p class="d-none"> Push the submit button to check all the validations at once. Resetting will handle resetting the validation messages. </p>
    </div>
    <div class="col-md-12 col-md-pull-0">

      <div class="bs-component" >
        <div class="alert alert-dismissible alert-success d-none" id="alert-form">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <h4>Success!</h4> <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
        </div>
      </div>

      <div class="well " id="forms-validation-container">
        <div class="row list-qr" id="list-qr">
          {% for participant in data.participants %}
            <div class="col-md-4 one-qr">
                <div class="card">
                  <div class="card-content text-center">
                <div class="card-title part-title"> {% if participant.title_id != 3 %}{{participant.title.title}}{% endif %} <br> {{participant.first_name}} {{participant.last_name}}</div>
                    <img class="part-qr-code" src="{{domain_url}}/{{qrcode_repertory}}{{participant.qrcode[0].qr_code_link | raw}}" alt="">
                    <p></p>
                  </div>
                </div>
              </div>
          {% endfor %}


        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}


{% block extendjsfooter %}
    <style media="screen">
      .select2-container--default .select2-selection--single .select2-selection__rendered, .select2-results__option{
        font-size: 12px;
      }

      .select2-container .select2-dropdown{
        background-color: rgba(223, 230, 233,1.0);
      }

      .part-title{
        font-size: 14px !important;
        line-height: 17px !important;
        height: 55px;
         display: -webkit-box;
         -webkit-line-clamp: 2; /* number of lines to show */
         -webkit-box-orient: vertical;
         overflow: hidden;
      }

      .part-qr-code{
        width: 100%;
      }

       .list-qr .one-qr{
         min-height: 377px;
       }

       @media print {
         .part-title{
           font-size: 14px !important;
           line-height: 17px !important;
           height: 55px;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            -webkit-box-orient: vertical;
            overflow: hidden;
         }

         .part-qr-code{
           width: 100%;
         }

          .list-qr .one-qr{
            min-height: 377px;
          }
      }
    </style>

    <link href="https://printjs-4de6.kxcdn.com/print.min.css" rel="stylesheet" />

    <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
    <script type="text/javascript">

      $('#btn-print').on('click', function () {
        printJS({printable:'list-qr', type:'html', css:['{{domain_url}}/assets/css/vendors.min.css','{{domain_url}}/assets/css/styles.min.css','{{domain_url}}/assets/css/print.css?v=0.873']});

      });

      function imprimer_bloc(titre, objet) {
        // Définition de la zone à imprimer
        var zone = document.getElementById(objet).innerHTML;

        // Ouverture du popup
        var fen = window.open("", "", "height=500, width=800, toolbar=0, menubar=0, scrollbars=1, resizable=1, status=0, location=0, left=10, top=10");

        // style du popup
        fen.document.body.style.color = '#000000';
        fen.document.body.style.backgroundColor = '#FFFFFF';
        fen.document.body.style.padding = "20px";
        fen.document.body.style.padding = "20px";

        // Ajout des données a imprimer
        fen.document.title = titre;
        fen.document.body.innerHTML += " " + zone + " ";

        // Impression du popup
        fen.window.print();

        //Fermeture du popup
        fen.window.close();
        return true;
      }
    </script>
{% endblock %}
