{% extends 'templates/layout.twig' %}
{% block page_title %}Liste des participants en attente{% endblock %}
{% block active_participant %}active{% endblock %}
{% block all_participant_pending %}active{% endblock %}
{% block collapse_in %}in{% endblock %}
{% block page_title_breadcrumb %}Liste des participants en attente de validation{% endblock %}
{% block content %}


    <section class="tables-data">
      <div class="page-header">
        <h1>      <i class="md md-list"></i> Liste de tous les participants en attente de validation   </h1>
        <p class="lead">Cette liste affiche la liste des inscriptions non validées.</p>
      </div>
      <div class="card">
        <div>
        <div class="bs-component" >
          <div class="alert alert-dismissible alert-success d-none" id="alert-table">
            <button type="button" class="close" data-dismiss="alert">×</button>
          </div>
        </div>
          <div class="datatables">
            <table id="example" class="table table-full table-full-small" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>Prénom(s)</th>
                  <th>Nom</th>
                  <th>Contact</th>
                  <th>Pays</th>
                  <th>Ticket</th>
                  {% if usr.role_id <= 2 %}
                    <th class="">Formule choisie</th>
                    <th>Ajouté par</th>
                  {% endif %}
                  <th>Options</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Prénom(s)</th>
                  <th>Nom</th>
                  <th>Contact</th>
                  <th>Pays</th>
                  <th>Ticket</th>
                  {% if usr.role_id <= 2 %}
                    <th class="">Formule choisie</th>
                    <th>Ajouté par</th>
                  {% endif %}
                  <th>Options</th>
                </tr>
              </tfoot>
              <tbody>
              {% for participant in data.participants %}
                <tr>
                  <td class="ml-2" >{{participant.first_name}}</td>
                  <td >{{participant.last_name}}</td>
                  <td >{{participant.email}} <br>{{participant.phone}} </td>
                  <td >{{participant.country.name}}</td>
                  <td >{{participant.ticket_number}}</td>
                  {% if usr.role_id <= 2 %}
                    <td class="" data-sort="{{data.formules[participant.formule]}}">{{data.formules[participant.formule] | number_format(0, '.', ' ')}} FCFA</td>
                    <td>{% if participant.addedby.first_name %}{{participant.addedby.first_name}} {{participant.addedby.last_name}} {% else %} Depuis le site{% endif %}
                     </td>
                  {% endif %}
                  <td style="text-align:center;">
                      <a href="{{path_for('init_validation_participant',{'id':participant.id})}}"> <button type="button"   class="btn btn-link btn-round" data-toggle="tooltip" data-placement="top" data-original-title="Valider"><i class="md md-done"></i></button></a>

                      {% if usr.role_id <= 2 %}
                        <button type="button" onclick="window.location.href='{{path_for('edit_participant', {'id':participant.id})}}'" class="btn btn-link btn-round" data-toggle="tooltip" data-placement="top" data-original-title="Edit row"><i class="md md-mode-edit"></i></button>
                        <button type="button" onclick="window.location.href='{{path_for('del_participant', {'id':participant.id})}}'" class="btn btn-link btn-round" data-toggle="tooltip" data-placement="top" data-original-title="Supprimer"><i class="md md-delete"></i></button>
                      {% endif %}

                    {% if usr.role_id <= 2  and "obama" == "trump" %}
                      <button type="button" class="btn btn-link btn-round" data-toggle="tooltip" data-placement="top" data-original-title="Edit row"><i class="md md-mode-edit"></i></button>
                      <button type="button" class="btn btn-link btn-round" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="md md-delete"></i></button>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
