{% extends 'templates/layout.twig' %}
{% block page_title %}Statistiques{% endblock %}
{% block page_title_breadcrumb %}Statistiques{% endblock %}
{% block content %}


<div class="dashboard grey lighten-3">
  <div class="row no-gutter">
    <div class="col-sm-12 col-md-12 col-lg-12" style="background:#F9F9F9;">

      <div class="p-20 clearfix">
        <div class="pull-right d-none"> <a href="pages-material-bird.html" target="_blank" class="btn btn-round-sm btn-link" data-toggle="tooltip" title="Play material bird"><i class="md md-games"></i></a>
          <div class="btn btn-round-sm btn-link" data-toggle="tooltip" title="Upload media"><i class="md md-crop-original"></i></div>
          <div class="btn btn-round-sm btn-link" data-toggle="tooltip" title="Write new document"><i class="md md-insert-drive-file"></i></div>
          <div class="btn btn-round-sm btn-link" data-toggle="tooltip" title="Add new user"><i class="md md-person-add"></i></div>
        </div>
        <h4 class="grey-text"><i class="md md-dashboard"></i><span class="hidden-xs">Statistiques</span></h4>
      </div>

      <div class="p-20 no-p-t">
        <h5 class="grey-text"><i class="md md-account-child"></i> Inscriptions</h5>
        <div class="row gutter-14 kpi-dashboard">


          <div class="col-md-2">
            <div class="card small">
              <div class="green lighten-1 p-10">
                <div class="pull-right d-none">
                  <div> <i class="md md-trending-up text-rgb-5"></i> 3% </div>
                </div>
                <h4 class="no-margin white-text text-center w600">Inscriptions </h4>
                
              </div>
              <div class="card-content p-10">
                <div class="row">
                  <div class="col-md-12 text-center" style="border-right: 1px #F0F0F0 solid;">
                    <h3 class="no-margin w300">{{data.stats.nb_participants}}</h3>
                    <p class="grey-text w600">Au total</p>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="col-md-3">
            <div class="card small">
              <div class="green lighten-1 p-10">
                <div class="pull-right d-none">
                  <div> <i class="md md-trending-up  text-rgb-5"></i> 9% </div>
                </div>
                <h4 class="no-margin white-text text-center w600">Type d'accès</h4>
                
              </div>
              <div class="card-content p-10">
                <div class="row">
                  <div class="col-md-6 text-center" style="border-right: 1px #F0F0F0 solid;">
                    <h3 class="no-margin w300">{{data.stats.payed}}</h3>
                    <p class="grey-text w600">Payant</p>
                  </div>
                  <div class="col-md-6 text-center ">
                    <h3 class="no-margin w300">{{data.stats.free}} </h3>
                    <p class="grey-text w600">Gratuit</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card small">
              <div class="theme-lighten-1 p-10">
                <div class="pull-right d-none">
                  <div> <i class="md md-trending-up  text-rgb-5"></i> 9% </div>
                </div>
                <h4 class="no-margin white-text text-center w600">Formules choisies</h4>
                
              </div>
              <div class="card-content p-10">
                <div class="row">
                    <div class="col-md-4 text-center" style="border-right: 1px #F0F0F0 solid;">
                        <h3 class="no-margin w300">{{data.stats.formule1}}</h3>
                        <p class="grey-text w600">150 000 FCFA</p>
                    </div>
                    <div class="col-md-4 text-center" style="border-right: 1px #F0F0F0 solid;">
                        <h3 class="no-margin w300">{{data.stats.formule2}}</h3>
                        <p class="grey-text w600">75 000 FCFA</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <h3 class="no-margin w300">{{data.stats.formule3}} </h3>
                        <p class="grey-text w600">50 000 FCFA</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card small">
              <div class="green lighten-1 p-10">
                <div class="pull-right d-none">
                  <div> <i class="md md-trending-up  text-rgb-5"></i> 9% </div>
                </div>
                <h4 class="no-margin white-text text-center w600">Moyens de paiement</h4>
                
              </div>
              <div class="card-content p-10">
                <div class="row">
                  <div class="col-md-6 text-center" style="border-right: 1px #F0F0F0 solid;">
                    <h3 class="no-margin w300">{{data.stats.payed_by_participant}}</h3>
                    <p class="grey-text w600">En ligne</p>
                  </div>
                  <div class="col-md-6 text-center">
                    <h3 class="no-margin w300">{{data.stats.offline_payment}} </h3>
                    <p class="grey-text w600">Hors ligne</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        
       

      </div>
    </div>


  </div>
</div>

{% block js_for_chats %}
  <script type="text/javascript">
    chartDat = {{ data.stats.arr_from_website|json_encode() }};
    console.log(chartDat);
  </script>
{% endblock %}

{% block extendjsfooter %}
    <script type="text/javascript">
    //chartData3 = randomData(20, 40, 60);
    chartData9 = {{ data.stats.arr_from_website|json_encode() }};
    console.log(chartData9);






    </script>

{% endblock %}



{% endblock %}
